body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	color: #555;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
td, th, caption {
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
a {
	color: #212121;
	text-decoration: none;
}
/*a:hover {
	text-decoration: underline;
}*/
img {
	border: none;
}
ol, ul, li {
	list-style: none;
}
input, textarea, select, button {
	font: 14px Verdana, Helvetica, Arial, sans-serif;
}
table {
	border-collapse: collapse;
}
html {
	overflow-y: auto;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	*zoom: 1;
}
#InputDetailBar {
	float: left;
	width: 100%;
	margin-left:0;
 	margin-bottom: 35px; 
	margin: 10px;
 text-align: center; 
	display:inline;
}
#TableTail {
	border-top: 2px solid #a4cdec;
	border-bottom: 2px solid #a4cdec;
	 width: 100%; 
	height: 30px;
	float: left;
}
#TableTail_inside {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	width: 100%;
	height: 25px;
	float: left;
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#a4cdec,endcolorstr=#ffffff,gradientType=0);
	padding-left: 5px;
	padding-top: 3px;
}